language: node_js
node_js:
  - "16"
script:
  - npm install
  - npm run docs:build
  - cd public && echo 'subilan.win' > CNAME
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: public
  github_token: $GITHUB_TOKEN
  target_branch: master
  keep_history: true
  on:
    branch: deploy
