language: node_js
node_js:
  - "10"
script:
  - npm run docs:build
  - echo 'subilan.win' > CNAME
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: public
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master