@mixin NoticeTypecho {
	background: var(--bg-dim);
	border-radius: 6px;

	&.tip {
		.notice-title {
			color: var(--primary);

			svg {
				fill: var(--primary);
			}
		}

		a,
		strong {
			color: var(--primary);
		}
	}

	&:not(.tip) {
		.notice-title {
			color: var(--typecho-red);

			svg {
				fill: var(--typecho-red);
			}
		}

		a,
		strong {
			color: var(--typecho-red);
		}
	}
}
