/* ibm-plex-sans-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 300;
	src: url('./ibm-plex-sans-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-300italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 300;
	src: url('./ibm-plex-sans-v22-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./ibm-plex-sans-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 400;
	src: url('./ibm-plex-sans-v22-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 600;
	src: url('./ibm-plex-sans-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-600italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 600;
	src: url('./ibm-plex-sans-v22-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
	font-display: swap;
	font-family: 'IBM Plex Sans SC';
	font-style: normal;
	font-weight: 300;
	src: url('./IBMPlexSansSC-Light.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'IBM Plex Sans SC';
	font-style: normal;
	font-weight: 400;
	src: url('./IBMPlexSansSC-Regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'IBM Plex Sans SC';
	font-style: normal;
	font-weight: 600;
	src: url('./IBMPlexSansSC-Bold.woff2') format('woff2');
}
