@use 'var';

.dark {
	color-scheme: dark;

	hr {
		background: rgba(255, 255, 255, 0.1);
	}

	blockquote {
		border-left-color: #6e6e6e;
	}

	body {
		background: var.$darkPrimaryBlack;
		color: var.$darkTextColor;
	}

	pre[class*='language-'] {
		background: var.$darkSecondaryBlack;
	}

	kbd {
		background: var.$darkSecondaryBlack;
		box-shadow: 0 1px 0 2px rgba(var.$darkPrimary, 0.3);
		color: var.$darkPrimary;
	}

	article .header-wrapper .header-anchor svg {
		fill: var.$darkTextColor;
	}

	article .toc-container .toc ul li a:not(.active) {
		color: rgba(var.$darkTextColor, 0.5);
	}

	article td,
	article th {
		border-color: #3e3e3e;
	}

	article .toc-container .toc > ul li a:hover,
	article .toc > ul > li ul a.active {
		color: #fff;
	}

	article .notice {
		background: var.$darkSecondaryBlack;

		.notice-title,
		a,
		strong {
			color: var.$darkPrimary;

			svg {
				fill: var.$darkPrimary;
			}
		}
	}

	nav {
		background: #212121;
		color: white;
		border-bottom-color: rgba(255, 255, 255, 0.2);

		.site-title a,
		.nav-link-inner {
			color: white;
		}

		.nav-link-inner:not(.router-link-exact-active):hover {
			border-bottom-color: rgba(var.$darkPrimary, 0.6);
		}

		.nav-link-inner.router-link-exact-active {
			border-bottom-color: var.$darkPrimary;
		}
	}

	section.profile {
		.social {
			svg {
				fill: white;
				color: white;
			}
		}

		.navigations {
			a {
				color: white;
			}

			.router-link-exact-active,
			a:hover {
				background: rgba(var.$darkPrimary, 0.1);

				svg {
					color: var.$darkPrimary !important;
				}
			}
		}

		.navigations:hover .router-link-exact-active {
			background: transparent;
		}
	}

	section.stats .value,
	.articles .article h2,
	.articles .article .view-right-now-message,
	details summary,
	.articles .article .bg-icon,
	.layout-post .extra span svg {
		color: var.$darkPrimary !important;
	}

	article p > a:not(.blogroll),
	article sup a,
	article table a,
	article ul a,
	article ol a,
	article em a {
		color: var.$darkPrimary;
	}

	details[open] {
		background: rgba(var.$darkPrimary, 0.1) !important;
	}

	article code {
		background: var.$darkSecondaryBlack;
		color: var.$darkTextColor;
	}

	article .notice code {
		background: var.$darkPrimaryBlack;
	}

	article pre code {
		background: transparent;
	}

	article tr:nth-child(2n) {
		background: var.$darkSecondaryBlack;
	}

	.create-commons-license .bg svg {
		fill: white;
	}

	footer {
		border-top: 1px solid rgba(255, 255, 255, 0.1);

		.inner svg {
			fill: white;
		}
	}

	.back-to-top {
		background: #2e2e2e;
	}

	.create-commons-license {
		& {
			background: transparent;
			color: white;
		}

		a {
			background: #212121;
			color: white;
		}
	}

	.page-switcher {
		.page {
			background: #212121;
			color: white;
		}

		.page:not(.router-link-exact-active) {
			svg {
				color: white;
			}
		}

		.page.router-link-exact-active {
			color: var.$darkPrimary;

			svg {
				color: var.$darkPrimary;
			}
		}
	}

	.search-modal {
		&,
		input {
			background: #212121;
		}

		input {
			border-bottom-color: rgba(255, 255, 255, 0.2);
			color: white;
		}

		input:hover {
			border-bottom-color: rgba(var.$darkPrimary, 0.4);
		}

		input:focus {
			border-bottom-color: var.$darkPrimary !important;
		}
	}

	.search-result strong {
		color: black;
	}

	.search-result:hover,
	.search-result .data .bg {
		background: rgba(var.$darkPrimary, 0.1);
	}

	pre[class^='language-']::before {
		color: rgba(255, 255, 255, 0.4);
	}

	pre[class^='language-']:hover::before {
		color: white;
	}
}
