@use 'var';

@mixin shiki-code-dark {
	color: var(--shiki-dark) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

@mixin shiki-line-dark {
	.line.highlighted,
	.line.highlighted span {
		background-color: #2d2d2d !important;
	}

	.line.diff.remove {
		&,
		span {
			background-color: #423436 !important;
		}

		span,
		&::before {
			color: #f44336 !important;
		}
	}

	.line.diff.add {
		&,
		span {
			background-color: #333e3d !important;
		}

		span,
		&::before {
			color: #4caf50 !important;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.shiki,
	.shiki span {
		@include shiki-code-dark();
	}

	.shiki code {
		@include shiki-line-dark();
	}
}

.shiki,
.shiki span {
	background-color: var(--bg-dim) !important;
}

.shiki {
	position: relative;
}

.pre-container {
	position: relative;

	.language-label {
		position: absolute;
		line-height: 1;
		top: 1rem;
		right: 1rem;
		font-size: 12px;
		opacity: 0.2;
		z-index: 20;
		pointer-events: none;
		transition: all 0.2s ease;
	}
}

.pre-container:hover {
	.language-label {
		opacity: 1;
	}
}

.notice .shiki,
.notice .shiki span {
	background-color: transparent !important;
}

.shiki .line.highlighted,
.shiki .line.highlighted span {
	background-color: #eaeaea !important;
}

.shiki .line.diff.remove {
	&::before {
		content: '-';
		position: absolute;
	}

	&,
	span {
		background-color: #ffebee !important;
	}

	span,
	&::before {
		color: #f44336 !important;
	}
}

.shiki .line.diff.add {
	&::before {
		content: '+';
		position: absolute;
	}

	& {
		background-color: #e8f5e9 !important;
	}

	span {
		background-color: transparent !important;
	}

	span,
	&::before {
		color: #4caf50 !important;
	}
}

.shiki {
	.line {
		&.diff,
		&.highlighted {
			width: calc(100% + 32px);
			display: inline-block;
			transition: all 0.2s ease;
			margin: 0px -16px;
			padding: 0px 16px;
			box-sizing: border-box;
		}
	}
}
