@import "./fonts/literata/literata.css";
@import "./fonts/noto-serif-sc/noto-serif-sc.css";

// $darkPrimary: #00d0b4;
// $darkPrimaryBlack: #212121;
// $darkSecondaryBlack: #2d2d2d;
// $darkTextColor: #ddd;
$darkPrimary: #ddd;
$darkPrimaryBlack: #212121;
$darkSecondaryBlack: #2d2d2d;
$darkTextColor: #ddd;

$lineColorLight: #eaecef;
$lineColorDark: rgba($color: #fff, $alpha: .1);

$darkLineColorLight: #000;
$darkLineColorDark: #fff;

// $primaryTextColor: #004d40;
// $primaryColor: #009688;

$primaryColor: #000;
$primaryTextColor: #000;

$sansSerifFontWithoutDefault: -apple-system, BlinkMacSystemFont, ui-sans-serif, 'PingFang SC', 'Segoe UI', '微软雅黑', Microsoft YaHei UI;
$sansSerifFont: $sansSerifFontWithoutDefault, sans-serif;
$serifFont: 'Literata', 'Noto Serif SC', '宋体-简', '宋体', NSimSun, SimSun, serif;
$monospaceFont: Menlo, 'Cascadia Code', 'Cascadia Mono', Consolas, $sansSerifFontWithoutDefault, monospace;

$defaultBorderRadius: 8px;

// $navbarHeight: 55px;
$navbarHeight: 0;
$navbarBottomOffset: 32px;

$footerHeight: 120px;
$footerMarginTop: 32px;
