@import '@/assets/components/link.scss';

@mixin TocTypecho {
	> ul li {
		a {
			@extend .link;
		}

		a:not(.active) {
			opacity: 0.3;
		}

		a:hover,
		a.active {
			opacity: 1;
		}

		a.active {
			color: var(--base);
			border-bottom: none;
		}

		a.active::before {
			left: 0;
		}
	}
}
