$typechoPrimaryLight: #005f9e;
$typechoPrimaryDark: rgb(0, 140, 210);

$typechoTextColorLight: #000;
$typechoTextColorDark: #cfcfcf;

$typechoTertiaryLight: #eaeaea;
$typechoTertiaryDark: rgba(255, 255, 255, 0.1);

$typechoSecondaryLight: #aaa;
$typechoSecondaryDark: #888;

$typechoBgLight: #fff;
$typechoBgDark: #0f0f0f;

$typechoBgSecondaryLight: #f6f6f3;
$typechoBgSecondaryDark: #202020;

$typechoBgTertiaryLight: #efefeb;
$typechoBgTertiaryDark: #3a3a3a;

@mixin TypechoColorsDay {
	--primary: #{$typechoPrimaryLight};
	--dimdim: #{$typechoTertiaryLight};
	--dim: #{$typechoSecondaryLight};
	--text: #{$typechoTextColorLight};
	--bg: #{$typechoBgLight};
	--bg-dim: #{$typechoBgSecondaryLight};
	--bg-dim-dim: #{$typechoBgTertiaryLight};
	--base: black;
	--typecho-red: #DB3B14;
}

@mixin TypechoColorsNight {
	--primary: #{$typechoPrimaryDark};
	--dimdim: #{$typechoTertiaryDark};
	--dim: #{$typechoSecondaryDark};
	--text: #{$typechoTextColorDark};
	--bg: #{$typechoBgDark};
	--bg-dim: #{$typechoBgSecondaryDark};
	--bg-dim-dim: #{$typechoBgTertiaryDark};
	--base: white;
	--typecho-red: #DB3B14;
}
