.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.smoothzoom-enter-from,
.smoothzoom-leave-to {
	transform: scale(0.97);
	opacity: 0;
}

.flowup-enter-from,
.flowup-leave-to {
	opacity: 0;
	transform: translateY(5px);
}

:root.style-classic {
	.fade-enter-active,
	.fade-leave-active,
	.smoothzoom-enter-active,
	.smoothzoom-leave-active,
	.flowup-enter-active,
	.flowup-leave-active {
		transition: all 0.1s ease;
	}
}
