@import "var.less";
@import "highlight.css";
@import "nprogress.css";

body {
  margin: 0;
  .fontset-default;
  color: #2c3e50;
  overflow-x: hidden;
}

*::selection {
  background-color: rgba(@primary, .1);
}

div[class^=language-] {
  .fontset-monospace;
}

img + em {
  text-align: center;
  display: block;
  font-size: .9rem;
  font-style: normal;
  color: #aaa;
}

.medium-zoom-overlay {
  z-index: 1001;
}

.medium-zoom-image--opened {
  z-index: 1002;
}